<nav id="navbar-example2" class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pedidos</a>
    <ul class="nav nav-pills">

        
        {{#if user.id}}
        
        <li class="nav-item">
            <a class="nav-link" href="/logout" >logout</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#register">Sign Up</a>
        </li>
        {{/if}}
    </ul>
</nav>


    {{#if message}}
        {{#if message.info}}
            <div class="alert alert-info alert-dismissible fade show">
                <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
            </div>
        {{/if}}

        {{#if message.susses}}
            <div class="alert alert-success alert-dismissible fade show">
                <strong>Success!</strong> This alert box could indicate a successful or positive action.
            </div>
        {{/if}}

        {{#if message.error}}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>Error</strong> {{message.mensaje}}
            </div>
        {{/if}}
    {{/if}}

    <h1> {{ locals._id}}</h1>


{{>login}}

{{>register}}