<!--Sidebar de opciones cuando se incia session-->

<div class="side-menu-wrapper">
<a href="#" class="menu-close">×</a>
<ul>
	<li><a href="#" data-toggle="modal" data-target="#productsAv">Productos</a></li>
	<li><a href="#" data-toggle="modal" data-target="#myOrders">Mis pedidos</a></li>
	<li><a href="#" data-toggle="modal" data-target="#productsTotal">Productos Comprados</a></li>
	<li><a href="#" data-toggle="modal" data-target="#">Ver perfil</a></li>
    <li><a href="#" data-toggle="modal" data-target="#">Editar perfil</a></li>
    <li><a href="#" data-toggle="modal" data-target="#">Cerrar sesion</a></li>

</ul>
</div>

<!--PopUps de uso en el sidebar-->

{{>productsAv}}
{{>myOrders}}
{{>productsTotal}}