{{> head}}

{{> navbar}}

<div class="menu-overlay"></div>
<a href="#" class="menu-open">Open Menu</a>

<div class="side-menu-wrapper">
<a href="#" class="menu-close">×</a>
<ul>
	<li><a href="http://www.google.com" target="_blank" rel="nofollow">Productos</a></li>
	<li><a href="http://www.yahoo.com" target="_blank" rel="nofollow">Mis pedidos</a></li>
	<li><a href="http://www.facebook.com" target="_blank" rel="nofollow">Productos Comprados</a></li>
	<li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Ver perfil</a></li>
    <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Editar perfil</a></li>
    <li><a href="http://www.flickr.com" target="_blank" rel="nofollow">Cerrar sesion</a></li>

</ul>
</div>


{{> footer}}